---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Sayeem, a TMU CS student from Toronto.
        <br />
        My primary tools of choice include:
      </p>
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>SQL</li>
        <li>PySpark</li>
        <li>Databricks</li>
        <li>AWS (S3, Glue, IAM)</li>
        <li>Apache Airflow</li>
        <li>Power BI / Tableau</li>
        <li>Git / GitHub</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Off the laptop: soccer, early-morning fishing, long runs, strength training, and building things in wood. 
      Music is in anything that moves. Currently reading: The Visible Man by Chuck Klosterman.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
