---
import Card from "./Card/index.astro";
---

<Card
  title="Projects"
  href="/projects"
  colSpan="md:col-span-1"
  rowSpan="md:row-span-5"  
>
  <div class="h-full flex flex-col justify-between pb-2">  
    <!-- Pitch -->
    <section>
      <p class="text-neutral-300 text-sm mt-1 leading-relaxed">
        View some of my data work! Clean SQL & visuals that load fast. <br> Check out my github for more information.
      </p>

      <!-- Quick teasers -->
      <ul class="mt-4 space-y-3 text-sm">
        <li class="flex items-baseline gap-4 border-b border-white/10 pb-3">
          <span>Licensed Pets - citywide trends</span>
          <time class="tabular-nums text-neutral-400">2023 to 2025</time>
        </li>
      </ul>
    </section>

    <!-- Tech tags -->
    <div class="mt-6 flex flex-wrap gap-2">
      <span class="rounded-xl bg-white/10 px-3 py-1 text-xs">Databricks</span>
      <span class="rounded-xl bg-white/10 px-3 py-1 text-xs">SQL</span>
      <span class="rounded-xl bg-white/10 px-3 py-1 text-xs">PySpark</span>
      <span class="rounded-xl bg-white/10 px-3 py-1 text-xs">AWS S3</span>
    </div>
  </div>
</Card>
