---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-0">
    <div class="flex flex-col gap-0">
      <h2 class="text-base m-0 leading-none">Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="text-[10px] text-gray-500 cursor-pointer leading-none">what's that?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-[11px] leading-tight m-0">
    Technical Business Analyst @ TMU. My spare time goes to cool projects to sharpen my skills. <br>
    Left winger in the Toronto Markham Soccer League this winter!! Super excited.
  </p>
</Card>